@model IEnumerable<webike.Models.Route>

@{
    ViewData["Title"] = "Index";
}

<div class="flexbox-container flexbox-containerLanding">

        <div class="flexbox-item flexbox-itemLanding1">
            <h1 class="display-4">Routes</h1>

        </div>

    </div>

    
<div class="flexbox-container">
 <div class="flexbox-container flexbox-containerEvent">
        @if(Model.Count() == 0){
            <p>Er zijn nog geen routes</p>
        }else{
            @foreach (var item in Model) {
             <a href="/Route/Details/@item.EventActivityID" class="flexbox-item flexbox-itemEvent2 card">
            <button type="button" class="btn btn-link">@item.Title</button>
        </a>
        }
        
        }
  
        

       


    </div>

    <div  flexbox-containerEvent">
        <div class="flexbox-item flexbox-itemEvent5">
            <select name="filterDropDown" id="filterDropDown">
                <option value="All">Alle routes</option>
                <option value="Friends">routes van vrienden</option>
            </select>
        </div>
        <a asp-action="Create">Maak een nieuwe route aan</a>
    </div>

</div>
  
