@model IEnumerable<webike.Models.Workout>

@{
    ViewData["Title"] = "Index";
}

  <div class="flexbox-container flexbox-containerLanding">

        <div class="flexbox-item flexbox-itemLanding1">
            <h1 class="display-4">Trainingen</h1>

        </div>

    </div>
<p>
    <a asp-action="Create">Create New</a>
</p>


<div class="flexbox-container">
    <div class="flexbox-container flexbox-containerEvent">
        @foreach (var item in Model) {
            <a href="/Workout/Details/@item.EventActivityID" class="flexbox-item flexbox-itemEvent2">
                <button type="button" class="btn btn-link">@item.Title</button>
            </a>
        }
    </div>


    <div>
         <div class="flexbox-item flexbox-itemEvent5">
            <select name="filterDropDown" id="filterDropDown">
                <option value="All">Alle trainingen</option>
                <option value="Friends">Traingingen van vrienden</option>
            </select>
        </div>
        <div class="flexbox-item flexbox-itemEvent5">
            <a href="/Workout/Create" class="btn btn-light">Toevoegen training</a>
        </div>
    </div>

</div>