
@model webike.ViewModels.ContactViewModel

<div class="container">

    <h1>Contacten</h1>

    <div>
        <h3>Jouw contacten:</h3>

        <p>contacten hier</p>
    </div>
     <div>
        <h3>Fietsers:</h3>

        <p>contacten hier</p>
    </div>

</div>