@model webike.Models.Cyclist;



<div class="container">
    <h1>Log in</h1>
    <form asp-controller="Auth" asp-action="Index" method="POST">
        <div>
            <label>Gebruikersnaam:</label>
            @Html.TextBoxFor(m => m.Alias)
        </div>
        <div>
            <label for="">Wachtwoord</label>
            @Html.PasswordFor(m => m.Password)
        </div>
        <input type="submit" value="Log in"/>
        
    </form>
    <p>Nog geen account? <a asp-controller="Auth" asp-action="Register">Maak een account</a></p>

</div>